body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}
.banner {
    background: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
.banner img {
    height: auto;
    max-height: 100px;
    width: auto; 
    max-width: 100%;
}
.site-logo {
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
}
.carousel-inner img {
    height: 400px;
    object-fit: cover;
}
.card img {
    height: 200px;
    object-fit: contain;
    background-color: #f1f1f1;
    padding: 10px;
}
.card {
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

footer .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #17a2b8; 
}

footer p {
    margin: 0;
}

.btn-whatsapp img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}


#search-input {
    width: 50%;
    min-width: 300px;
}

#search-results {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}